body {
  user-select: none;
}

.flip {
  cursor: pointer;
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: -50px;
  left: 0;
}

.popit {
  overflow: hidden;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}

.button {
  box-shadow: inset 8px 8px 8px rgba(255, 255, 255, 0.6), inset -8px -8px 8px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-family: sans-serif;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#a1 {
  background-color: rgba(255, 0, 0, 0.7);
}

#a2 {
  background-color: rgba(255, 166, 0, 0.7);
}

#a3 {
  background-color: rgba(255, 255, 0, 0.7);
}

#a4 {
  background-color: rgba(0, 128, 0, 0.7);
}

#a5 {
  background-color: rgba(0, 191, 255, 0.7);
}

#a6 {
  background-color: rgba(0, 0, 255, 0.7);
}

#a7 {
  background-color: rgba(128, 0, 128, 0.7);
}

.pressed {
  box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.5), inset -8px -8px 8px rgba(255, 255, 255, 0.2);
}

footer {
  
  font-family: sans-serif;
  font-size: smaller;
  position: absolute;
  bottom: -30px;
  right: 0;
}
.contain{
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}